<%= image_tag @picture.picture.url(:medium) %>
<br>
<%= link_to "Back", :back %> |

<%= link_to "Delete", user_picture_path(@picture), method: "delete" %> |


<ul>
  <% @picture.tags.each do |tag| %>
    <li><%= tag.picture_id %> | <%= tag.tag %></li>
  <% end %>
</ul>
